<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--~{}为片段选择器，选择了一整个title标签作为参数传入-->
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!--semantic ui CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<!--反转色 无圆角贴附-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!--青色 标题-->
            <!--item代表menu的子元素-->
            <h2 class="ui teal header item">Blog</h2>
            <!--m-item用于jQuery定位-->
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于</a>
            <!--搜索框-->
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--指定绝对位置布局
    menu toggle用于jQuery获取元素，无实际意义，获取也可以用id-->
    <a href="#" class="ui black menu toggle icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<!--限定最大宽度-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <!--提供响应式效果的容器-->
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左侧文章-->
            <div class="eleven wide column">
                <!--文章头部，上依附-->
                <div class="ui top attached segment">
                    <!--垂直居中-->
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <!--靠右对齐-->
                        <div class="right aligned column">
                            <!--h默认是block元素，会自动换行，要转换为行内块-->
                            <!--page.totalElements拿到总的数据条数-->
                            共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">
                            14 </h3> 篇
                        </div>
                    </div>
                </div>

                <!--中间内容，中依附-->
                <div class="ui attached segment">
                    <!--加大内边距，垂直排布，加大上下内边距-->
                    <div class="ui padded vertical m-padded-tb-large segment" th:each="blog : ${page.content}">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
                                                          target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗？</a>
                                </div>
                                <p class="m-text" th:text="|${blog.description}......|">
                                    你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{${blog.user.avatar}}"
                                                     alt="" class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header" th:text="${blog.user.nickname}">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-03-29</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label"
                                           th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{${blog.firstPicture}}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <!--/*-->
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical m-padded-tb-large segment">
                        <!--手机端列顺序反转，图片置顶-->
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header">你真的理解什么是财富自由吗？</div>
                                <p class="m-text">你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗你真的理解什么是财富自由吗</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <!--水平列表-->
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <!--圆形图片-->
                                                <img src="../static/images/pic2.jpg" th:src="@{/images/pic2.jpg}" alt=""
                                                     class="ui avatar image">
                                                <!--图片描述-->
                                                <div class="content">
                                                    <a href="#" class="header">孟某某</a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-03-29
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank"
                                           class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--文章图片-->
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="../static/images/pic1.jpg" th:src="@{/images/pic1.jpg}"
                                         class="ui rounded image"/></a>
                            </div>
                        </div>
                    </div>
                    <!--*/-->
                </div>

                <!--底部内容，下依附-->
                <div class="ui bottom attached segment" th:if="${page.totalPages} > 1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                               class="ui teal basic mini button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                               class="ui teal basic mini button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--右边卡片-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <!--secondary灰色-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i> 分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{types/-1}" target="_blank">more <i
                                        class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--顶部线条填充色-->
                    <div class="ui teal segment">
                        <!--竖直菜单，fluid填充外层容器-->
                        <div class="ui fluid vertical menu">
                            <!--item默认效果文字后加div会右对齐。left pointing箭头标签-->
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item"
                               th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <!--arrays.length拿到集合的长度-->
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">
                                    13
                                </div>
                            </a>
                            <!--/*-->
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>
                </div>

                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i> 标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{tags/-1}" target="_blank">more <i
                                        class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank"
                           class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                        </a>
                        <!--/*-->
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">23</div>
                        </a>
                        <!--*/-->
                    </div>
                </div>

                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i> 最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin"
                           th:text="${blog.title}">用户故事</a>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <!--*/-->
                </div>

                <!--二维码-->
                <!--分割线标题-->
                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt=""
                         class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部，扩大上下边距-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--所有容器内容居中-->
    <div class="ui center aligned container">
        <!--semantic的grid竖着切16份，divided为竖分割线-->
        <div class="ui inverted divided stackable grid">
            <!--three代表占3份，wide代表填满-->
            <div class="three wide column">
                <!--图片放在list里为了向右偏移-->
                <div class="ui inverted link list">
                    <div class="item">
                        <!--rounded表示圆角-->
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt=""
                             style="width: 110px; height: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <!--竖向排列的列表-->
                <h4 class="ui inverted header m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <!--竖向排列的列表-->
                <h4 class="ui inverted header m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">QQ：123456789</a>
                    <a href="#" class="item">Email：123456789@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced">GokouCat</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客</p>
            </div>
        </div>
        <!--底部分割线-->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 盘古开天辟地 – 2020 GokouCat</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--jquery CDN-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--semantic ui CDN-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide'); /*toggleClass：jquery方法，开关样式*/
    });
</script>

</body>
</html>